$head-circle-color: #fff;
$head-circle-border-color: #0D8E86;
$head-circle-fill-color: #0D8E86;
$main-btn-fill-color: #fff;
$main-btn-border-color: transparent;
$main-btn-text-color: #000;
$footer-circle-border-color: #0D8E86;
$main-color: #53C4B1;
$top-desc-text-color: #F3F4FD;