doctype html
html(lang="ja")
    head
        link(rel="stylesheet", href="css/question2.css")
        include _temp_p_head.pug
    body
        include _header.pug
        main
            h1.main-q1 Q.2
            p.main-p 彼女の服の好みは？
            ul.yes-no-wrap
                li.select-box
                    a(href="question3.html") カジュアル系
                li.select-box
                    a(href="question3.html") ストリート系
                li.select-box
                    a(href="question3.html") キュート系
                li.select-box
                    a(href="question3.html") オトナ系
        footer
            .back-circle
                a(href="question1.html")