doctype html
html(lang="ja")
     head
          include _html3_01_head.pug
          link(rel="stylesheet" href="css/result_2.css")
          title 検察結果_2

     body 
          header 
               h1 分析結果
               img.dot_l(src="img/dot.png", alt="")
               img.dot_r(src="img/dot.png", alt="")

               

          main
               .flex_h2
                    h2 彼女のプレゼントはこちら

               .wrap
                    .wrap_bg
                         img(src="img/Frame1.png", alt="")
                         h3 ディオール バックステージ アイ パレット
                         p.brand DIOR
                         p.price ¥6,050

               .wrap
                    .wrap_bg
                         img(src="img/Frame2.png", alt="")
                         h3 ディオール バックステージ アイ パレット
                         p.brand DIOR
                         p.price ¥6,050

               .wrap
                    .wrap_bg
                         img(src="img/Frame3.png", alt="")
                         h3 ディオール バックステージ アイ パレット
                         p.brand DIOR
                         p.price ¥6,050

               .wrap
                    .wrap_bg
                         img(src="img/Frame1.png", alt="")
                         h3 ディオール バックステージ アイ パレット
                         p.brand DIOR
                         p.price ¥6,050

               .bg_dot 
                    img(src="img/dot_bottom.png", alt="")

          //- 戻る印
          footer
               a(href="") 
                    img(src="img/back.png", alt="")