doctype html
html(lang="ja")
    head
        link(rel="stylesheet", href="css/top-desc.css")
        include _temp_p_head.pug
    body
        main
            h1.main-top-h1
                |こんにちは！
                br
                |Liebeへようこそ！
            p.main-top-p
                |Liebeは女性へのプレゼント選
                br
                |びに悩む男性を
                br
                |全力でサポートします！
            p.main-mid-p
                |さっそく彼女さまに向けて
                br
                |プレゼントを贈るために
                br
                |質問に答えませんか？
            div.start-btn
                a(href="question1.html") はじめる
            div.search-btn
                a(href="cat-search.html") 検索から選ぶ
        footer
            div.footer-pic
                img(src="img/present.png", alt="プレゼントのイラスト")